# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# architecture
/*                 @wesleyboar
/.github/          @wesleyboar

# settings
/user-guide/index.md @wesleyboar

# assets
*.js  @wesleyboar
js/   @wesleyboar
*.css @wesleyboar
css/  @wesleyboar

# OpenSees
/user-guide/tools/simulation/opensees.md  @silviamazzoni
/user-guide/tools/simulation/opensees/    @silviamazzoni
/user-guide/tools/simulation/openseesOld/ @silviamazzoni

# ADCIRC
# /user-guide/tools/simulation/adcirc.md @cdelcastillo21
# /user-guide/tools/simulation/adcirc/   @cdelcastillo21

# Arduino
# /user-guide/usecases/arduino/ @parduino
