/* DESIGNSAFE-CI/DS-USER-GUIDE */
/* To add CSS unique to DesignSafe/DS-User-Guide */

@import url('definition-lists.css');
@import url('hide-extra-space.css');
@import url('hide-some-anchor-links.css');
@import url('horizontal-rule.css');
@import url('mimic-designsafe-logo.css');
@import url('subtitle-via-attribute.css');
@import url('titles-long-and-short.css');
@import url('unindent-details-in-lists.css');
