/* To add subtitle after headings */
[data-subtitle]::after {
    content: ' ' attr(data-subtitle);
}
[data-subtitle]:not(
    /* headings only distinguished by weight */
    h5, h6
)::after {
    font-weight: normal;
}
[data-subtitle]:is(
    /* headings that need subtitle below */
    h1
)::after {
    text-transform: none;
    font-size: var(--global-font-size--xx-large);
}
