# Humans should not manage requirements.txt (bots do)
name: Validate requirements.txt not changed by human

on:
  pull_request:
    paths: ['requirements.txt']
    types: [opened, synchronize, reopened]

jobs:
  reject-requirements-drift:
    runs-on: ubuntu-latest

    # Skip if the last commit was from the bot (prevent unnecessary check)
    if: github.event.head_commit.author.name != 'github-actions[bot]'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # full history

      - name: Validate requirements
        uses: ./.github/actions/validate-requirements
        with:
          allowed_bots: 'github-actions[bot],dependabot[bot]'

