name: Validate `requirements.txt`

on:
  pull_request:
  push:

jobs:
  check-requirements:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Validate requirements
        uses: ./.github/actions/validate-requirements
        with:
          allowed_bots: 'github-actions[bot],dependabot[bot]'

